:root {
  --white-drak: #C6C6C6;
  --background-icon-green: #3c9445;
  --height-entrance: 400px;

  --shadow: #2A3132;
  --shadow-hover: #3e4647;
  --mist: #90AFC5;
  --stone: #336B87;
  --autmn-foliage: #763626;

  --dark-white: #d7d7d7;

}

@font-face {
  font-family: 'IranSans';
  src: url('fonts/IRANSans.ttf');
}

.bg-navbar {
  background: var(--shadow);
}

.nav-item-1 {

  color: var(--mist);
  font-weight: bolder;
  text-align: center;
  list-style-type: none;
  height: 100%;
  justify-content: center;
}

#item3{
  margin-right: 10px;
}

.nav-item-1:hover {
  background-color: var(--shadow-hover);
}

.brand-navbar{
  color: var(--stone);
  font-weight: bolder;
}

.nav-item-1-active {
  background-color: #2d8a7a;
}

.link-nav :hover{
  background-color: white;
}
