<!DOCTYPE html>
<html dir="rtl">
<head>
	<link rel="stylesheet" href="style/bootstrap-rtl.min.css">
	<link rel="stylesheet" href="style/global.css">
	<script src="js/jquery.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="navbar navbar-expand-sm sticky-top bg-navbar d-md-none" id="main-navbar-md">
    <div class="row w-100">
        <div class="col-4">
            <a class="navbar-brand col-2" style="text-align: right" id="brand-md">
                <img src="./img/logo-criticizing-2.png" class="rounded-circle" style="width: 40px;">
                <span class="brand-navbar">
                    سامانه انتقادات و پیشنهادات شهیدبهشتی
                </span>
            </a>
        </div>
        <div class="col-6"></div>
        <div class="col-2 fa fa-bars text-right ml-auto mt-1"></div>
    </div>

</nav>


<nav class="navbar navbar-expand-sm sticky-top bg-navbar d-none d-md-block" id="main-navbar">
    <div class="row">
        <div class="col-4">
            <a class="navbar-brand col-2" style="text-align: right" id="brand">
                <img src="./img/logo-criticizing-2.png" class="rounded-circle" style="width: 40px;">
                <span class="brand-navbar">
                    سامانه انتقادات و پیشنهادات شهیدبهشتی
                </span>
            </a>
        </div>
        <div class="col-8">
            <ul class="d-flex justify-content-end " style="height: 100%">
                <li class="p-2 nav-item-1" id="item1" onclick="makeItActive(this.id),exitFunction()">خروج</li>
            </ul>
        </div>
    </div>

</nav>

	<div class="container">
		 <form class="myfrm">
		 	<div v-if="data.type==0" class="form-inline my-3">
                <div class="col-sm-6 float-left">
                    <label class="small mx-3 float-left">کاربری نام<span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm"
                           v-model.trim="$v.data.first_name.$model"
                           :class="{'error': $v.data.first_name.$error}"/>
                </div>
                <div class="col-sm-6 float-right my-3 my-sm-2">
                    <label class="small mx-3 float-left">رمز عبور<span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm"
                           v-model.trim="$v.data.last_name.$model"
                           :class="{'error': $v.data.last_name.$error}"/>
                </div>
            </div>
            <hr class="d-none d-sm-block">
            <div v-if="data.type==0" class="form-inline my-3">
                <div class="col-sm-6 float-left">
                    <label class="small mx-3 float-left">&nbsp; &nbsp; نام<span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm"
                           v-model.trim="$v.data.first_name.$model"
                           :class="{'error': $v.data.first_name.$error}"/>
                </div>
                <div class="col-sm-6 float-right my-3 my-sm-2">
                    <label class="small mx-3 float-left">نام خانوادگی<span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm"
                           v-model.trim="$v.data.last_name.$model"
                           :class="{'error': $v.data.last_name.$error}"/>
                </div>
            </div>
            <div v-if="data.type==0" class="form-inline my-3">
                <div class="col-sm-6 float-left">
                    <label class="small mx-3 float-left">کد ملی<span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm" v-model.trim="$v.data.melli_code.$model"
                           :class="{'error': $v.data.melli_code.$error}">
                </div>
                <div class="col-sm-6 float-right my-3 my-sm-2">
                    <label class="small mx-3 float-left">کد دانشجویی<span class="text-danger">*</span></label>
                    <input type="text" class="form-control form-control-sm" v-model.trim="$v.data.melli_code.$model"
                           :class="{'error': $v.data.melli_code.$error}">
                </div>
            </div>
            <hr class="d-none d-sm-block">
            <div class="form-inline my-3">
                <div Mask="Number" class="col-sm-6 float-left">
                    <label class="small mx-3 float-left">موبایل<span class="text-danger">*</span></label>
                    <input class="form-control form-control-sm" type="text" v-model.trim="$v.data.mobile.$model"
                           :class="{'error': $v.data.mobile.$error}">
                </div>
                <div Mask="Number" class="col-sm-6 float-right my-3 my-sm-2">
                    <label class="small mx-3 float-left">تلفن ثابت<span class="text-danger">*</span></label>
                    <input class="form-control form-control-sm" type="text" v-model.trim="$v.data.telephone.$model"
                           :class="{'error': $v.data.telephone.$error}">
                </div>
            </div>
            <div class="form-inline my-3">
                <div IsLtr="true" class="col-sm-6 float-left">
                    <label class="small mx-3 float-left">ایمیل<span class="text-danger">*</span></label>
                    <input type="email" class="form-control form-control-sm" v-model.trim="$v.data.email.$model"
                           :class="{'error': $v.data.email.$error}">
                </div>
                <div Mask="Number" MinLen="10" class="col-sm-6 float-right my-3 my-sm-2">
                    <label class="small mx-3 float-left">کد پستی</label>
                    <input class="form-control-sm form-control" type="text" maxlength="10" v-model.trim="$v.data.postal_code.$model"
                           :class="{'error': $v.data.postal_code.$error}">
                </div>
            </div>      
            <br class="d-sm-inline d-none">   
            <div class="form-inline my-3" dir="ltr" >
                		
                <div class=" mx-sm-auto mr-3 mr-sm-0" >
                    	<input class="form-control form-control-sm" type="hidden" name="_token" :value="Laravel.csrfToken">
                    	<button class="btn btn-success text-white btn-sm" type="submit">ثبت تغییرات</button>
            	</div>
            </div>
        </form>
	</div>
</body>
</html>